@import '../../style/constants.scss';

.li {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 8px 11px 8px 11px;
    margin-bottom: 5px;
    border-radius: 5px;

    list-style-type: none;

    background-color: $bgcNodes;
    box-shadow: $boxShadow;

    cursor: pointer;

    div{
        display: flex;

        .NoteTitleForm{
            display: flex;
            flex-direction: column;

            input {
                
                padding-left: 10px;
                margin-right: 5px;
    
                height: 20px;
                resize: vertical;
    
                border-radius: 3px;
                border: 0;
    
                background-color: $bgcNodes;
        
                &:focus {
                    outline: none;
                    -webkit-box-shadow: 0px -23px 0px -22px rgba(34, 60, 80, 0.13) inset;
                    -moz-box-shadow: 0px -23px 0px -22px rgba(34, 60, 80, 0.13) inset;
                    box-shadow: 0px -23px 0px -22px rgba(34, 60, 80, 0.13) inset;
                }
            }
            p {
                margin-top: 5px;
                margin-left: 10px;
            }

        }
        .title {
            display: flex;
            align-items: center;
            
            padding-left: 10px;
        }

        .completedTitle {
            text-decoration: line-through;
            text-decoration-color: $completedText;
        }
    }

    button{
        cursor: pointer;
        
        margin-left: 5px;
        border: 0;
    }
    
}

.completedColor {
    color: $completedText;
}