@import '../../style/constants.scss';

.noteboockItems {
    flex-direction: column;
    text-align: left;
   
    // width: 300px;
    border-radius: 15px;
    padding: 12px;
    margin: 8px;
    
    background-color: $bgcCards;
}
.addNewTaskButton{
    display: flex;
}
