$bgcCards: #d3d5d7;
$bgcNodes: #ececec;
$bgcNodesHover: #f2f2f2;
$addBtnHover: rgb(193,193,197);

$completedText: #AFB1B2;

$boxShadow: 0px 3px 3px -2px rgba(34, 60, 80, 0.2);

.cursorPointer {
    cursor: pointer;
}
