@import '../../../style/constants.scss';

.filter{
    display: flex;
    justify-content: space-around;

    border-radius: 5px;
    padding: 3px;
    margin: 0 auto;

    button {
        padding: 4px;
        border: 0;
        border-radius: 3px;
        margin: 0 3% 0 3%;

        background-color: transparent;

        transition: all 0.1s ease-in-out;

        cursor: pointer;

        &:hover {
            background-color: $bgcNodes;
        }
    }

    &:hover {
        background-color: $BtnBlockHover;
    }

    animation: filterOpacity 0.3s ease;
}

@keyframes filterOpacity {
    0% { opacity: 0 }
    100% {opacity: 1}
}