@import '../../../style/constants.scss';

.notebookTitle {

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 8px 0 8px 0;

    .NotebookTitleForm{
        display: flex;
        flex-direction: column;
    
        input {
            border-radius: 3px;
            border: 0;
            width: 100%;

            transition: none;
        
            background-color: $bgcCards;
    
            &:focus {
                outline: none;
                -webkit-box-shadow: 0px -23px 0px -22px rgba(34, 60, 80, 0.13) inset;
                -moz-box-shadow: 0px -23px 0px -22px rgba(34, 60, 80, 0.13) inset;
                box-shadow: 0px -23px 0px -22px rgba(34, 60, 80, 0.13) inset;
            }
        }
    }

    p {
        cursor: pointer;
    }

    button {
        margin-left: 8px;
        padding-right: 8px;
        border: 0;
        background-color: $bgcCards;

        cursor: pointer;
    }
}

