@import '../../../style/constants.scss';

.AddTaskForm{
    display: flex;
    justify-content: space-between;

    background-color: $bgcNodes;

    margin-bottom: 8px;
    border-radius: 5px;

    transition: none;

    box-shadow: $boxShadow;

    button {
        border: 0;
        border-radius: 5px;
        padding: 3px 12px 0 0;
        margin-left: 5px;

        background-color: $bgcNodes;
    }

    input {
        width: 100px;
        border-radius: 3px;
        border: 0;

        height: 35px;
        padding-left: 10px;

        transition: none;

        background-color: $bgcNodes;

        &:focus {
            outline: none;
            box-shadow: 1px 0px 29px -17px rgba(186, 186, 186, 1);
        }
    }
}